form {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color); /* Light color for labels */
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #66afe9; /* Highlight color on focus */
  outline: none;
}

textarea {
	height: 200px;
}

button {
    padding: 10px;
    background-color: #007bff; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Include padding and border in the element's total width */

button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
