header {
background-color: var(--header-bg-color);
}

.container {
padding: 10px 15px 10px 15px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--header-text-color);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--header-text-color);
}

nav ul li a:hover {
  color: var(--link-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--header-text-color);
  margin: 2px 0;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: var(--header-bg-color);
    padding: 0px 0px 0px 10px;
  }

  .nav-menu.active {
    display: flex;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  .site-title {
   margin: auto;
   font-size: 20px;
  }
}
