header {
background-color: var(--header-bg-color);
}

.container {
padding: 10px 15px 10px 15px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title img {
width: 35px;
margin-right: 7px;
border-radius: 3px;
background-color: var(--text-color);
}

.site-title a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}

.site-title a:hover {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  z-index: 1000;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
}

nav ul li a:hover {
  color: var(--link-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 40px;
  height: 4px;
  background-color: var(--text-color);
  margin: 4px 0;
  transition: 0.4s;
}

@media screen and (max-width: 850px) {
  .hamburger {
    display: flex;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: var(--header-bg-color);
    padding: 0px 0px 0px 0px;
  }

  .nav-menu.active {
    display: flex;
  }

  nav ul li {
    margin: 0.5rem 0;
    padding: 0px 0px 0px 10px;
  }

  .site-title {
   margin: auto;
  }
  .site-title a {
   margin-left: 40px;
   }

  .site-title span {
  display: none;
  }

   .site-title img {
   margin: 0px;
   }
}


