.home .citation {
max-width: 600px;
margin: 50px auto 50px;
text-align: center;
font-size: 25px;
font-style: italic;
font-weight: bold;
}

.home .quick-links {
margin: 20px auto 20px;
}

.home .heading {
text-align: center;
font-weight: bold;
margin-top: 20px;
}
.home .heading a {
color: var(--text-color);
}

.home .quick-links-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

.home .quick-links-group {
padding: 15px;
border-radius: 5px;
width: 260px;
border: 2px solid var(--border-color);
}

.home .quick-links-group:hover {
border: 2px solid var(--light-text-color);
}

.home .quick-links-group .title {
font-weight: bold;
font-size: 20px;
}
.home .quick-links-group .title a {
color: var(--text-color)
}

.home .quick-links ul {
padding: 10px 0px 0px 0px;
margin: 0px 0px 0px 0px;
list-style: inside;
}

.home .home .quick-links li {
margin-bottom: 2px;
}


.home .latest-posts-container {
display: flex;
flex-wrap: wrap;
padding: 10px;
justify-content: center;
}
.home .post-item {
text-align: center;
color: #ffffff;
border-radius: 8px;
overflow: hidden;
background-color: var(--light-bg-color);
width: 270px;
height: 300px;
margin: 10px;
}
.home .post-item img {
display: block;
border-bottom: 1px solid #2c2c2c;
height: 300px;
width: auto;
}
.home .post-item h3 {
font-size: 16px;
margin: 0px;
padding: 10px;
}
.home .post-item a {
display: block;
text-decoration: none;
overflow: hidden;
height: 200px;
}
.home .post-item a:hover {
text-decoration: none;
}






/* Dark-themed section wrapper */
.homepage-dark-section {
  padding: 2rem;
  color: var(--text-color); /* Light text for contrast */
}

/* Wrapper for text blocks */
.homepage-dark-section .text-block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center blocks in the section */
}

/* Individual text blocks */
.homepage-dark-section .text-block {
  background-color: var(--light-bg-color); /* Slightly lighter dark box */
  border-radius: 8px;
  padding: 1rem;
  flex: 1 1 calc(33.333% - 1rem); /* Responsive three columns */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 10px;
}

/* Ensure responsiveness */
@media (max-width: 768px) {
  .homepage-dark-section .text-block {
    flex: 1 1 calc(50% - 1rem); /* Two columns on tablets */
  }
}

@media (max-width: 480px) {
  .homepage-dark-section .text-block {
    flex: 1 1 100%; /* Single column on small screens */
  }
}



/* Style for Markdown elements */

/* Styling for links */
.homepage-dark-section .text-block a {
  color: #1e90ff; /* Highlight links */
  text-decoration: none;
}

.homepage-dark-section .text-block a:hover {
  text-decoration: underline;
}

/* Styling for lists */
.homepage-dark-section .text-block ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}

.homepage-dark-section .text-block li {
  margin-bottom: 0.5rem;
}

/* Styling for bold and italic text */
.homepage-dark-section .text-block strong {
  font-weight: bold;
}

.homepage-dark-section .text-block em {
  font-style: italic;
}








/* Container for the featured boxes */
.featured-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Individual box styles */
.featured-box {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 15px;
  width: 260px;  /* Fixed width for boxes */
  text-align: center;
  /*transition: transform 0.3s ease;*/
  cursor: pointer;
}

.featured-box a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}

/* Icon styles */
.featured-box .icon {
  margin: 20px auto 0px;
}
.featured-box .icon svg {
   height: 40px;
}

/* Title styles */
.featured-box h3 {
  color: var(--text-color);  /* White text for the title */
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Description styles */
.featured-box p {
  color: var(--light-text-color);  /* Light grey text for the description */
  font-size: 1em;
}

/* Hover effect */
.featured-box:hover {
  /*transform: translateY(-5px);*/
  border-color: var(--light-text-color);  /* Highlight border on hover */
}
.featured-box:hover a {
text-decoration: none;
}

/* Mobile responsive styles */
@media (max-width: 850px) {
  .featured-box, .home .quick-links-group {
    width: 100%;
  }
}













/* Container for the list boxes */
.list-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Individual box styles */
.list-box {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 15px;
  width: 260px;  /* Fixed width for boxes */
  text-align: center;
  cursor: pointer;
}

.list-box a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}

/* Icon styles */
.list-box .icon {
  font-size: 40px;
  color: var(--text-color);  /* White icon color */
  margin-bottom: 10px;
}

/* Title styles */
.list-box h3 {
  color: var(--text-color);  /* White text for the title */
  font-size: 1.2em;
   margin: 0px auto 10px;
}

/* Description styles */
.list-box p {
  color: var(--light-text-color);  /* Light grey text for the description */
  font-size: 1em;
}

/* Hover effect */
.list-box:hover {
  border-color: var(--light-text-color);  /* Highlight border on hover */
}

.list-box:hover a {
  text-decoration: none;
}

/* Mobile responsive styles */
@media (max-width: 850px) {
  .list-box {
    width: 100%;
  }
}

