/* General Styles */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ddd;
}
.navbar .logo {
   margin-bottom: 10px;
}
.navbar .logo a {
   font-size: 20px;
   font-weight: bold;
}
.navbar .logo a:hover {
   text-decoration: none;
}

.logo img {
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.nav-links li {
  margin-left: 1.5rem;
  position: relative; /* Required for dropdown positioning */
}

.nav-links a {
  color: #ddd;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 7px 0; /* Uniform padding for menu items */
  display: block;
  width: 100%;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.nav-links a.active {
  font-weight: bold;
  color: #fff;
}

.nav-links a:hover {
  color: #fff;
  text-decoration: underline; /* Underline on hover */
}

/* Refined Dropdown Menu Styles */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(20,20,20);
  list-style: none;
  padding: 10px 0; /* Refined padding */
  z-index: 1000;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu a {
  color: #ddd;
  text-decoration: none;
  padding: 7px 15px; /* Uniform padding for submenu items */
  display: block;
  text-align: left; /* Left align submenu text */
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.dropdown-menu a:hover {
  color: #fff;
  text-decoration: underline; /* Underline on hover */
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

@media (max-width: 800px) {
  .navbar {
    align-items: flex-start; /* Align items left */
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
    background-color: #121212;
  }

  .nav-links li {
    margin-left: 0;
    width: 100%;
    text-align: left;
  }

  .nav-links.active {
    display: flex;
    margin-top: 10px;
  }

  .nav-links a {
    padding: 10px 20px; /* Even padding for all links */
  }

  .hamburger {
    display: flex;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  /* Dropdown for mobile */
  .dropdown-menu {
    position: static;
    display: none;
    flex-direction: column;
    padding: 0; /* Remove extra padding */
    margin-left: 0; /* Left aligned submenus */
  }

  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .nav-links.active .dropdown-menu {
    display: flex;
  }

  .dropdown-menu a {
    padding: 10px 30px; /* Extra padding-left for small screens */
  }
}

/* Large Screen - Reduced Space Between Submenus */
@media (min-width: 801px) {
  .dropdown-menu a {
    padding: 7px 15px; /* Reduced padding between submenu items */
  }
}
