@import url('https://fonts.bunny.net/css?family=nunito:300,400,600,700');

body {
max-width: 800px;
margin: auto;
padding: 70px 10px 0px 10px;
background-color: rgb(10,10,10);
color: white;
line-height: 1.3;
font-family: 'Nunito', sans-serif;
font-size: 18px;
}

figcaption {
margin-top: 5px;
text-align: center;
}
   
tr,td {
border: 1px solid white !important;
}

a {
color: #00FFFF;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

main {
min-height: 500px;
}

footer {
margin-top: 50px;
}

footer, .footnotes {
font-size: 14px;
}

footer p, .footnotes p {
margin: 5px;
}

blockquote {
margin: 17px 15px 17px 15px;
}

@media screen and (max-width: 800px) {
   blockquote {
   margin: 17px 7px 17px 7px;
   }
}
